.bg-gradient-primary {
    background-color: #00A4EF;
    background-image: radial-gradient(#000000 10%,#00293c 100%);
    background-size: cover;
}

footer.sticky-footer {
    padding: 1rem 0;
    flex-shrink: 0;
}